@import url('menu.css');
@import url('boxColor.css');
@import url('boxImages.css');
.main{
    position: relative;
}
#cont{
    width: 100%;
    height: 87vh;

}
#content{
    width: 100%;
    padding: 20px;    
}
#contentArea{
    width: 100%;
    height: 100%;
    display: none;
}
form {
    height: 45px;
    padding: 10px;
    box-sizing: border-box;
}
#file{
    margin: 11px; 
}
#sign{
    width: 480px;
    height: 250px;
    position: absolute;
    top: 4%;
    left: 33%;
    box-sizing: border-box;
    background-color: white; 
    border-radius: 5px;
    display: none;   
}
form h3{
    text-align: center;
}
#unorderedList{
    width: 540px;
    min-height: 250px;
    position: absolute;
    top: 4%;
    left: 33%;
    box-sizing: border-box;
    background-color: white; 
    border-radius: 5px;
    padding: 5px;
    display: none;
}
#orderedList{
    width: 540px;
    min-height: 250px;
    position: absolute;
    top: 4%;
    left: 33%;
    box-sizing: border-box;
    background-color: white; 
    border-radius: 5px;
    padding: 5px;
    display: none;
}
#resO, #creatO, #creatU, #resU, #resT, #creatT, #createU{
    font-size: 1rem;
}
#createTable{
    width: 750px;
    min-height: 320px;
    position: absolute;
    top: 4%;
    left: 17%;
    box-sizing: border-box;
    background-color: white; 
    border-radius: 5px;
    display: none;
}